:root {
  --main-bg: rgba(0, 0, 0, 0.9);
  --second-bg: #353535;
  --nav-active: rgb(114, 114, 114);
  --main-text: #fff;
  --second-text: rgb(74, 7, 161);
}

html{
  /*scroll-behavior: smooth;*/
}
body {
    margin: 0;
    padding: 0;
    color: var(--main-text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--main-bg);
}

ul{
  margin: 0;
  padding: 0;
}

.section-title{
  text-align: center;
  padding-bottom: 2rem;
  margin: 0;
  text-transform: uppercase;
}
.primary-text{
  line-height:1.7;
  font-size: 1rem;
}
.content-button{
  display: inline-block;
  border-radius: 0.5rem;
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
  text-decoration: none;
  vertical-align: middle;
}

.content-button:hover, .content-button:active{
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;

  background-color: var(--main-bg);
  color: var(--main-text);
  border: 1px solid var(--main-text);
}

.content { /* for when the nav is sticky */
  padding-top: 60px;
}

/**************************************** HERO */
.hero {
	width: 100%;
	height: 100vh;
}

/* BG */
.bg-bubbles {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--second-bg);
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity:0;
}

.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  border-radius:50em;
}
.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid var(--second-bg);
}

.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  border-radius:50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:0;
  }
}

/* TEXT AND BUTTON */

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  white-space: nowrap;
}

.hero-links a{
  text-decoration: none;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.281);
}

.hero-links a:hover, .hero-links a:active{
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;

  color: #fff;
}

.hero-text p {
  padding-bottom: 1rem;
}

.hero-button{
  background-color: transparent;
  border: 2px solid var(--main-text);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: var(--main-text);
  font-size: 1rem;
}

.hero-button:hover{
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;

  background-color: rgba(255, 255, 255, 0.4);
}

/******************************* NAVIGATION */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.notsticky {
  position: relative;
}

.notsticky + .content { /* for when the nav becomes notsticky */
  padding-top: 0px;
}

.nav ul{
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}

.nav li, .nav a:link, .nav a:visited {
  display:inline-block;
  float: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--main-text);
  text-decoration: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  padding: 0px 20px;
}

.nav a:hover{
  color: var(--nav-active);
  transition: color 0.3s ease;
}

.nav-links{
  position: relative;
  display: inline;
}

/****************************** PROJECT SECTION */

#projects{
  overflow: hidden;
  display: grid;
  justify-items: center;
}
.projects-grid{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3rem;
  padding-bottom: 3rem;
}

.projects-grid-column{
  position: relative;
}

.projects-grid-item{
  position: relative;
  text-align: center;
  max-width: 30rem;
}

.projects-image{
  max-width: 100%;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.projects-item-info {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: calc(100% - 2 * 0.2rem);
  height: calc(100% - 3 * 0.2rem);
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;

  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
}

.projects-item-info:hover, .projects-item-info:active{
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.projects-item-header {
  position: relative;
  color: var(--main-bg);
  font-size: 22px;
  text-transform: uppercase;
}

.projects-item-links{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.projects-link{
  width: 50%;
  text-transform: uppercase;
}

.triangle {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8vw;
  fill: var(--second-bg);
}

/******************************* ABOUT SECTION */
#about {
  overflow: hidden;
  background-color: var(--second-bg);
  padding-bottom: 1rem;
}
#about .section-title{
  padding-bottom: 0;
}
.about-grid{
  display:grid;
  grid-template-columns: 30% 70%;
  grid-gap: 30px;
}

.about-img{
  justify-self: end;
  margin: 1rem;
  max-height: 200px;
  border-radius:50%;
  border: 3px solid #ffffff79;
}
.about-info{
  line-height: 3rem;
  width: 100%;
}
.mal-link, .chess-link{
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.3rem;
  padding-top: 0;
  color: var(--main-text);
  border: 1px solid var(--main-text);
}
.mal-link{
  margin-right: 0.5rem;
}
.chess-link{
  margin-left: 0.5rem;
}
.mal-link:hover, .mal-link:active{
  background-color: #274da5;
}
.chess-link:hover, .chess-link:active{
  background-color: #7fa15c;
}
.about-icons{
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border-radius: 10%;
}
.mal-icon{
  background: url('mal-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.chess-icon{
  background: url('chess-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/*************************************** FOOTER */
footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
  text-align: center;
}

/* Small Screens */
@media (max-width: 600px) {

  .about-grid, .projects-grid{
    grid-template-columns: 1fr;
    grid-template-areas: 'about-img'
    'info';
  }
  #about .section-title{
    padding: 1rem;
  }
  .about-img{
    justify-self: center;
  }
  .projects-item-links{
    visibility: hidden;
  }
  .projects-item-info:hover .projects-item-links, .projects-item-info:active .projects-item-links{
    visibility: visible;
    transition: visibility 0s 0.25s;
  }
}

/* Landscape */
@media (max-height: 500px) {

}
