:root {
  --main-bg: rgba(0, 0, 0, 0.9);
  --second-bg: #353535;
  --nav-active: rgb(114, 114, 114);
  --main-text: #fff;
  --second-text: rgb(74, 7, 161);
}
/* Small Screens */
@media (max-width: 600px) {
  
}

/* Landscape */
@media (max-height: 500px) {

}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    overflow: overlay;
    margin: 0;
    padding: 0;
    color: var(--main-text);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg);
}

h3{
  text-align: center;
}

#mcgill{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.primary-text{
  line-height:1.7;
  font-size: 1rem;
}

.icon{
  font-size: 3rem;
  text-decoration: none;
}
.icon:hover, .icon:active{
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#info-links .icon{
  color: rgba(255, 255, 255, 0.281);
}

#info-links .icon:hover, #info-links .icon:active{
  color: #fff;
}

.project .icon{
  color: var(--main-bg);
}

.project .icon:hover, .project .icon:active{
  color: #fff;
  text-shadow: 0px 0px 3px #353535;
}

#container {
	width: 100%;
  height: 100vh;
}

#content {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-gap: 2%;
  align-content: center;
  justify-content: center;
}

#info-col{
  max-width: 30vw;
  text-align: center;
  padding: 1rem;
}


/* PROJECT SECTION */

.project{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid rgb(185, 185, 185);
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius:10px;
  height: 50vh;
  max-height: 500px;
  min-width: 10vw;
  max-width: 15vw;
}

.project:hover {
  border-width: 3px;
}

.project h3{
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
}

.overlay {
  width: 100%;
  position: absolute;
  left: 100%;
  overflow: hidden;
  height: 100%;
  transition: .5s ease;
}

.overlay div{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project:hover .overlay{
  left: 0;
}

/* BG */

ul{
  margin: 0;
  padding: 0;
}
.bg-bubbles {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--second-bg);
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity:0;
}
.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  border-radius:50em;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  border-radius:50em;
}
.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid var(--second-bg);
}
.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  border-radius:50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:0;
  }
}
